
# Created by https://www.toptal.com/developers/gitignore/api/phpstorm+all,composer
# Edit at https://www.toptal.com/developers/gitignore?templates=phpstorm+all,composer

### Composer ###
composer.phar
/vendor/

### PhpStorm ###
.idea/
/.idea/

### DotEnv ###
.env
