<nav class="navbar">
    <ul class="navbar-nav navbar-left">
        <li class="nav-item">
            <a href="#" class="nav-link">{{ TITLE }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
        </li>
    </ul>
    <div class="navbar-nav navbar-right">
        <a href="/user" class="btn btn-primary">Connexion | Inscription</a>
    </div>
</nav>